
body {
	background: #424242;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
	font-weight: 300;
    overflow-x: hidden;
}

html,body {
  width: 100%;
  height: 100%;
}


/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-style: normal;
  font-weight: 300;
}

h1,h2,h3 {
  font-weight: 300;
}

h1 {
  font-size: 60px;
  padding-bottom: 14px;
  margin-bottom: 0px;
}

h2 {
  font-size: 42px;
  line-height: 52px;
  margin-top: 0px;
}

h3 {
  font-size: 26px;
  line-height: 32px;
  padding-bottom: 6px;
}

h4 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 6px;
}

h5 {
  color: #666666;
}

strong {
  font-weight: normal;
}

p {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.section-btn {
  background-color: transparent;
  border: 3px solid #2eb82e;
  border-radius: 100px;
  color : #2eb82e;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.6px;
  padding: 12px 36px;
  margin-top: 42px;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
}

.section-btn:hover {
  background: #2eb82e;
  border-color: transparent;
  color: #ffffff;
}

.btn-success:focus {
  background-color: #000;
  border-color: transparent;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}

.section-title {
  position: relative;
  padding-bottom: 10px;
}

#about,
#service,
#experience,
#airforce,
#contact {
  position: relative;
}

#home .container,
#about .container, 
#experience .container,
#service .container,
#airforce .container,
#contact .container {
  width: 100%;
  padding: 0;
  margin: 0;
}

#experience .experience-thumb,
#airforce .airforce-thumb  {
  padding: 22px 42px 42px 42px;
}

#service,
#intro,
footer {
  text-align: center;
}

#experience,
#airforce {
  background: rgb(18, 20, 136);
}

.background-image {
    background-position: 50% 50% !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
    min-height: 75vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.color-white {
  color: #ffffff;
}
.color-grey {
  background: #424242;
}

.color-yellow {
  color: #2eb82e;
}

.bg-yellow {
  background: #2eb82e;
}

.bg-white {
  background: #ffffff;
}

.bg-grey {
  background: #424242;;
}

.bg-dark {
  background: #161616;
}
.bg-blue {
  background: rgb(18, 20, 136);
}




/*---------------------------------------
    General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #2eb82e;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  color: #2eb82e;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}




/*---------------------------------------
    Navigation section              
-----------------------------------------*/

.custom-navbar {
    margin-bottom: 0;
    background-color: #333;
    
}


.custom-navbar .navbar-brand {
    color: #fff;
	text-shadow: 1px 1px #333;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 1px;
    
}

.custom-navbar .nav li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 40px;
    transition: all 0.4s ease-in-out;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: #2eb82e;
}



.custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #2eb82e;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
    background-color: #333;
}

.custom-navbar .navbar-toggle {
    background-color: #333;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #fff;
    border-color: transparent;
}

@media(min-width:768px) {
  
    .custom-navbar {
        padding: 12px 0;
        border-bottom: 0;
        background: 0 0; 
    }
    .custom-navbar.top-nav-collapse {
        background: #333;
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
        padding: 0;
    }

}



/*---------------------------------------
    Home section              
-----------------------------------------*/
#home {
  background: url('../images/view.jpg') 50% 0 repeat-y fixed;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 70px 0px;
    color: #ffffff;
}
#home .overlay {
  background: #121212;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0.7;
}
#home h1 {
  padding-bottom: 18px;
}
#home .section-btn {
  background-color: transparent;
  border: 3px solid #ffff;
  border-radius: 100px;
  color: #ffff;
}

#home .section-btn:hover {
  background: #fff;
  border-color: transparent;
  color: #000;
}

#home .col-md-6 {
  background: #E9724C;
/* light blue color: #c3eafd; */
  padding-right: 0;
  padding-left: 0;
}

#home .home-img {
  background: url('../images/home-img.jpg') no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100vh;
}

#home .home-thumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  padding: 0 45px 0 45px;
}
#home .typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}



/*---------------------------------------
   About section              
-----------------------------------------*/

#about .about-img {
    background: url('../images/about-img.jpg') no-repeat;
    min-height: 100vh;

}

#about .about-thumb,
#about .skill-thumb {
  padding: 22px 32px 32px 32px;
}

#about .progress {
  background: #ffffff;
  border-radius: 0px;
  box-shadow: none;
  height: 2px;
}

#about .progress-bar-primary {
  background: #232B2B;
}

#about strong,
#about span {
  font-weight: bold;
  display: inline-block;
  padding-bottom: 8px;
}



/*---------------------------------------
    Service section              
-----------------------------------------*/

#service {
  background: #424242;
}

#service p {
  font-size: 18px;
  line-height: 30px;
}

#service .service-thumb {
  padding: 52px 22px 52px 22px;
}

#service .service-thumb .fa {
  font-size: 42px;
  padding-bottom: 22px;
}



/*---------------------------------------
    Experience section              
-----------------------------------------*/

#experience .shaw-img {
  background: url('../images/shaw-img.jpg') no-repeat;
    min-height: 100vh;
}

#experience .other-img {
  background: url('../images/other.jpg') no-repeat;
  min-height: 100vh;
}


#experience .media-heading {
  margin-bottom: 0px;
}
#experience .color-white {
  font-size: 20px;
}

#experience .media .fa {
  font-size: 42px;
  margin-right: 14px;
}

#experience small {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

/*---------------------------------------
    airforce section              
-----------------------------------------*/

#airforce {
  background: #2eb82e;
}

#airforce .airforce-img {
  background: url('../images/airforce-img.jpg') no-repeat;
}

#airforce .media-heading {
  margin-bottom: 0px;
}
#airforce .color-white {
  font-size: 20px;
}
#airforce .media .fa {
  font-size: 42px;
  margin-right: 14px;
}

#airforce small {
  color: #886D1E;
  font-weight: bold;
}



/*---------------------------------------
   intro section              
-----------------------------------------*/

#intro {
    background: url('../images/view2.jpg') 50% 0 repeat-y fixed;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    position: relative;
    padding: 70px 0px;
}

#intro .overlay {
    background: #121212;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.7;
}

#intro .fa {
  font-size: 42px;
  margin-top: 32px;
  margin-bottom: 22px;
}

#intro p {
  padding-top: 32px;
}

img {
    width: 200px;
    height: 160px;
    padding: 10px;
    margin-top: 45px;
    margin-bottom: 45px;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
   
    
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}



/*---------------------------------------
    Contact section              
-----------------------------------------*/

#contact {
  background: #424242;
}

#contact .contact-form,
#contact .contact-thumb {
  padding: 22px 32px 22px 32px;
  min-height: 75vh;
}

#contact .contact-img {
  background: url('../images/portrait.jpg') no-repeat;
  min-height: 75vh;
}

#contact .contact-info {
  padding-top: 6px;
  padding-bottom: 6px;
}

#contact .form-control::-moz-placeholder{color:#ffffff;opacity:1}
#contact .form-control:-ms-input-placeholder{color:#ffffff}
#contact .form-control::-webkit-input-placeholder{color:#ffffff}

#contact .form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #2eb82e;
  border-radius: 0px;
  box-shadow: none;
  color: #ffffff;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 25px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:focus {
  border-bottom-color: #ffffff;
}

#contact input {
  height: 45px;
}

#contact input[type="submit"] {
  background: #ffffff;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #161616;
  padding-bottom: 10px;
}

#contact input[type="submit"]:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

#contact .fa {
  padding-right: 10px;
}



/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
  border-top: 1px solid #ffff;
    padding: 40px 0px;
    background: #757575;
}



/*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    border: 2px solid transparent;
    color: #fff;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 22px 4px 10px 4px;
}

.social-icon li a:hover {
    background: #2eb82e;
    border-color: #ffffff;
    color: #ffffff;
    transform: scale(1.1);
}



/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/

@media only screen and (max-width: 580px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
    line-height: inherit;
  }

  h3 {
    font-size: 22px;
    line-height: inherit;
  }
}

@media only screen and (max-width: 767px) {
  .custom-navbar .navbar-brand {
    line-height: 18px;
  }

  #home .home-thumb {
    height: auto;
    padding-top: 32px;
    padding-bottom: 12px;
  }

  #home .container,
  #about .container, 
  #experience .container,
  #service .container,
  #airforce .container,
  #contact .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  #about .col-md-3,
  #experience .col-md-6,
  #airforce .col-md-6,
  #contact .col-md-3 {
    padding: 0;
    margin: 0;
  }

  .background-image {
    position: relative;
    min-height: 65vh;
  }
}

@media only screen and (max-width: 1024px) {
  .section-title {
    padding-bottom: 12px;
  }

  footer {
    padding: 40px 0;
  }
}
