body{
  background-color: #3d3d3d;
}

.navbar {
  background-color:transparent;
}

.navbar-show {
  background-color:#2f3030;
}

.logo{
  height: 35px;
  width: 35px
}

.navbar-brand{
  color: white;
  font-family: raleway;
  position:relative;
}

.nav-link {
  color: white;
}

.inverted {
	filter: invert(100%);
}

.nav-parent {
  float:none;
  display: block;
}

.nav-items {
color:white;
padding: 5px;
font-family: raleway;
}

.nav-items:hover {
text-decoration: none;
}

.pages {
  position: absolute;
  right: 10px;
  top: 15px;
}

@font-face {
  font-family: "raleway";
  src: url("fonts/Raleway-Medium.ttf");
}

@font-face {
  font-family: "raleway-light";
  src: url("fonts/Raleway-Light.ttf");
}
@font-face{
  font-family: "raleway-bold"
  src: url("fonts/Raleway-Bold.ttf")
}

.top-container {
  position: relative;
  height: 100vh;
  left:0;
  right:0;
}

.container-two {
  background-color: antiquewhite;
  height: 700px;
  position: relative;
  text-align: center;
}

#video-container {
  position: absolute;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	overflow: hidden;
  filter: opacity(50%);
}
video {
	position:absolute;
	z-index:0;
}
video.fillWidth {
	width: 100%;
}

.overlay {
    position:absolute;
    z-index:3000000;
}

.down-arrow{
  height:50px;
  width:50px;
  position:absolute;
  left: 50%;
  bottom:15px;
}

.catchline{
  z-index:300000;
  width:60%;
  position: relative;
  top:35vh;
  margin: 0 auto;
  font:raleway;
  color:white;
  font-size:32px;
  text-align: center;
}


.secondary-text {
  z-index:300000;
  width:80%;
  position: relative;
  top:40vh;
  margin: 0 auto;
  color:white;
  font-size:24px;
  text-align: center;
}

.container-two{
  position:relative;
  z-index:1;
  background-color: grey;
  border: 1px solid #fff;
  border-radius: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  height:auto;
}

.catchline.services
{
  position:relative;
  top:10px;
  color:white;
  height: 12vh;
  font: raleway-bold;
  vertical-align: middle;
}

.top-services{
  position:relative;
  z-index:2;
  height:100vh;
  background-color:white;
  margin-top:5vh;
}

.service-main{
    z-index:3;
    position:relative;
    top:10px;
    left:0;
    float:left;
    height:80vh;
    background-color:white;
    width:100%;
    font-size: 30px;
}

.service-text{
    z-index:3;
    position:relative;
    float:center;
    background-color:grey;
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: white;
    font-size: 22px;
}
.contact{
  position:relative;
  z-index:1;
  background-color: grey;
  border: 1px solid #fff;
  border-radius: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  height:auto;
}
.contact-text{
  z-index:3;
  position:relative;
  float:center;
  background-color:white;
  margin-top: 3vh;
  color: black;
  font-size: 22px;
  width: 100%;


}
.img-circular{
 width: 200px;
 height: 200px;
 background-size: cover;
 display: block;
border-radius: 50%;
margin: 0 auto;
}
iframe
{
  transform:scale(1);/*zoomish*/
  width:100%;
}
