.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.383301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.933594;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-0.035520px;}
.ls0{letter-spacing:0.000000px;}
.ls3{letter-spacing:0.071200px;}
.ls1{letter-spacing:0.120000px;}
.ls4{letter-spacing:0.240000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.130880px;}
._1{width:1.195200px;}
._3{width:3.432160px;}
._2{width:41.734080px;}
._4{width:338.887840px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:39.840000px;}
.fs1{font-size:44.160000px;}
.fs0{font-size:63.840000px;}
.y1{bottom:0.000000px;}
.y6{bottom:2.420000px;}
.yf{bottom:4.080000px;}
.y5{bottom:15.140000px;}
.ye{bottom:15.600000px;}
.y11{bottom:27.120000px;}
.y4{bottom:27.740000px;}
.yd{bottom:29.760000px;}
.yc{bottom:41.280000px;}
.y10{bottom:52.800000px;}
.yb{bottom:55.560000px;}
.ya{bottom:67.080000px;}
.y9{bottom:78.600000px;}
.y2f{bottom:116.300000px;}
.y2e{bottom:127.820000px;}
.y2d{bottom:141.980000px;}
.y2c{bottom:156.260000px;}
.y2b{bottom:169.700000px;}
.y2a{bottom:183.860000px;}
.y29{bottom:198.170000px;}
.y28{bottom:212.330000px;}
.y0{bottom:224.500000px;}
.y27{bottom:226.970000px;}
.y26{bottom:256.370000px;}
.y25{bottom:268.610000px;}
.y24{bottom:280.850000px;}
.y23{bottom:295.010000px;}
.y22{bottom:309.530000px;}
.y21{bottom:339.050000px;}
.y20{bottom:353.210000px;}
.y1f{bottom:367.510000px;}
.y1e{bottom:381.670000px;}
.y1d{bottom:395.950000px;}
.y1c{bottom:410.110000px;}
.y1b{bottom:424.390000px;}
.y1a{bottom:437.830000px;}
.y19{bottom:452.110000px;}
.y18{bottom:466.270000px;}
.y17{bottom:477.790000px;}
.y16{bottom:491.950000px;}
.y15{bottom:506.230000px;}
.y14{bottom:520.390000px;}
.y13{bottom:534.700000px;}
.y12{bottom:549.220000px;}
.y8{bottom:576.580000px;}
.y7{bottom:675.940000px;}
.y3{bottom:703.300000px;}
.y2{bottom:746.760000px;}
.h3{height:37.944000px;}
.h7{height:41.415703px;}
.h5{height:42.057656px;}
.h4{height:45.906562px;}
.h2{height:67.393594px;}
.h6{height:90.600000px;}
.h1{height:461.000000px;}
.h0{height:792.000000px;}
.w5{width:246.650000px;}
.w4{width:267.530000px;}
.w3{width:269.330000px;}
.w1{width:543.000000px;}
.w2{width:611.999991px;}
.w0{width:612.000000px;}
.x1{left:0.000009px;}
.x7{left:17.880000px;}
.x0{left:34.500000px;}
.x3{left:36.000000px;}
.x9{left:53.879991px;}
.xa{left:71.663991px;}
.x6{left:137.300000px;}
.x5{left:154.100000px;}
.x2{left:265.369991px;}
.x8{left:303.530000px;}
.x4{left:305.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-0.047360pt;}
.ls0{letter-spacing:0.000000pt;}
.ls3{letter-spacing:0.094933pt;}
.ls1{letter-spacing:0.160000pt;}
.ls4{letter-spacing:0.320000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.507840pt;}
._1{width:1.593600pt;}
._3{width:4.576213pt;}
._2{width:55.645440pt;}
._4{width:451.850453pt;}
.fs2{font-size:53.120000pt;}
.fs1{font-size:58.880000pt;}
.fs0{font-size:85.120000pt;}
.y1{bottom:0.000000pt;}
.y6{bottom:3.226667pt;}
.yf{bottom:5.440000pt;}
.y5{bottom:20.186667pt;}
.ye{bottom:20.800000pt;}
.y11{bottom:36.160000pt;}
.y4{bottom:36.986667pt;}
.yd{bottom:39.680000pt;}
.yc{bottom:55.040000pt;}
.y10{bottom:70.400000pt;}
.yb{bottom:74.080000pt;}
.ya{bottom:89.440000pt;}
.y9{bottom:104.800000pt;}
.y2f{bottom:155.066667pt;}
.y2e{bottom:170.426667pt;}
.y2d{bottom:189.306667pt;}
.y2c{bottom:208.346667pt;}
.y2b{bottom:226.266667pt;}
.y2a{bottom:245.146667pt;}
.y29{bottom:264.226667pt;}
.y28{bottom:283.106667pt;}
.y0{bottom:299.333333pt;}
.y27{bottom:302.626667pt;}
.y26{bottom:341.826667pt;}
.y25{bottom:358.146667pt;}
.y24{bottom:374.466667pt;}
.y23{bottom:393.346667pt;}
.y22{bottom:412.706667pt;}
.y21{bottom:452.066667pt;}
.y20{bottom:470.946667pt;}
.y1f{bottom:490.013333pt;}
.y1e{bottom:508.893333pt;}
.y1d{bottom:527.933333pt;}
.y1c{bottom:546.813333pt;}
.y1b{bottom:565.853333pt;}
.y1a{bottom:583.773333pt;}
.y19{bottom:602.813333pt;}
.y18{bottom:621.693333pt;}
.y17{bottom:637.053333pt;}
.y16{bottom:655.933333pt;}
.y15{bottom:674.973333pt;}
.y14{bottom:693.853333pt;}
.y13{bottom:712.933333pt;}
.y12{bottom:732.293333pt;}
.y8{bottom:768.773333pt;}
.y7{bottom:901.253333pt;}
.y3{bottom:937.733333pt;}
.y2{bottom:995.680000pt;}
.h3{height:50.592000pt;}
.h7{height:55.220937pt;}
.h5{height:56.076875pt;}
.h4{height:61.208750pt;}
.h2{height:89.858125pt;}
.h6{height:120.800000pt;}
.h1{height:614.666667pt;}
.h0{height:1056.000000pt;}
.w5{width:328.866667pt;}
.w4{width:356.706667pt;}
.w3{width:359.106667pt;}
.w1{width:724.000000pt;}
.w2{width:815.999988pt;}
.w0{width:816.000000pt;}
.x1{left:0.000012pt;}
.x7{left:23.840000pt;}
.x0{left:46.000000pt;}
.x3{left:48.000000pt;}
.x9{left:71.839988pt;}
.xa{left:95.551988pt;}
.x6{left:183.066667pt;}
.x5{left:205.466667pt;}
.x2{left:353.826655pt;}
.x8{left:404.706667pt;}
.x4{left:407.106667pt;}
}
