.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.383301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.933594;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:-0.035520px;}
.ls0{letter-spacing:0.000000px;}
.ls3{letter-spacing:0.035520px;}
.ls2{letter-spacing:0.120000px;}
.ls1{letter-spacing:0.240000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.104000px;}
._1{width:1.195200px;}
._6{width:2.699680px;}
._4{width:4.525120px;}
._2{width:41.734080px;}
._5{width:511.898560px;}
._3{width:1211.488960px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:39.840000px;}
.fs1{font-size:44.160000px;}
.fs0{font-size:63.840000px;}
.y1{bottom:0.000000px;}
.y5{bottom:2.760000px;}
.ye{bottom:4.560000px;}
.y4{bottom:15.360000px;}
.yd{bottom:15.960000px;}
.y12{bottom:27.480000px;}
.yc{bottom:30.240000px;}
.y11{bottom:39.000000px;}
.yb{bottom:41.760000px;}
.y37{bottom:45.144000px;}
.y10{bottom:53.280000px;}
.ya{bottom:55.920000px;}
.y36{bottom:59.304000px;}
.yf{bottom:64.680000px;}
.y9{bottom:67.440000px;}
.y35{bottom:73.584000px;}
.y8{bottom:78.840000px;}
.y34{bottom:84.984000px;}
.y33{bottom:99.264000px;}
.y0{bottom:112.000000px;}
.y32{bottom:114.140000px;}
.y31{bottom:143.900000px;}
.y30{bottom:158.180000px;}
.y2f{bottom:172.340000px;}
.y2e{bottom:186.620000px;}
.y2d{bottom:200.060000px;}
.y2c{bottom:214.370000px;}
.y2b{bottom:225.890000px;}
.y2a{bottom:240.050000px;}
.y29{bottom:251.570000px;}
.y28{bottom:265.730000px;}
.y27{bottom:279.290000px;}
.y26{bottom:290.810000px;}
.y25{bottom:304.970000px;}
.y24{bottom:316.490000px;}
.y23{bottom:330.770000px;}
.y22{bottom:344.210000px;}
.y21{bottom:355.730000px;}
.y20{bottom:369.890000px;}
.y1f{bottom:381.430000px;}
.y1e{bottom:395.710000px;}
.y1d{bottom:409.870000px;}
.y1c{bottom:439.630000px;}
.y1b{bottom:453.190000px;}
.y1a{bottom:466.630000px;}
.y19{bottom:480.190000px;}
.y18{bottom:493.630000px;}
.y17{bottom:507.190000px;}
.y16{bottom:520.630000px;}
.y15{bottom:534.190000px;}
.y14{bottom:547.660000px;}
.y13{bottom:561.940000px;}
.y7{bottom:589.180000px;}
.y6{bottom:688.660000px;}
.y3{bottom:715.920000px;}
.y2{bottom:746.880000px;}
.h3{height:25.320000px;}
.h7{height:41.415703px;}
.h5{height:42.057656px;}
.h4{height:45.906562px;}
.h2{height:67.393594px;}
.h6{height:90.600000px;}
.h1{height:586.000000px;}
.h0{height:792.000000px;}
.w5{width:241.850000px;}
.w3{width:251.810000px;}
.w4{width:262.250000px;}
.w1{width:543.000000px;}
.w2{width:611.999991px;}
.w0{width:612.000000px;}
.x1{left:0.000009px;}
.x7{left:17.880000px;}
.x0{left:34.500000px;}
.x3{left:36.000000px;}
.x9{left:53.879991px;}
.xa{left:71.663991px;}
.x6{left:136.580000px;}
.x5{left:183.050000px;}
.x2{left:265.369991px;}
.x4{left:287.810000px;}
.x8{left:298.250000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4{letter-spacing:-0.047360pt;}
.ls0{letter-spacing:0.000000pt;}
.ls3{letter-spacing:0.047360pt;}
.ls2{letter-spacing:0.160000pt;}
.ls1{letter-spacing:0.320000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.472000pt;}
._1{width:1.593600pt;}
._6{width:3.599573pt;}
._4{width:6.033493pt;}
._2{width:55.645440pt;}
._5{width:682.531413pt;}
._3{width:1615.318613pt;}
.fs2{font-size:53.120000pt;}
.fs1{font-size:58.880000pt;}
.fs0{font-size:85.120000pt;}
.y1{bottom:0.000000pt;}
.y5{bottom:3.680000pt;}
.ye{bottom:6.080000pt;}
.y4{bottom:20.480000pt;}
.yd{bottom:21.280000pt;}
.y12{bottom:36.640000pt;}
.yc{bottom:40.320000pt;}
.y11{bottom:52.000000pt;}
.yb{bottom:55.680000pt;}
.y37{bottom:60.192000pt;}
.y10{bottom:71.040000pt;}
.ya{bottom:74.560000pt;}
.y36{bottom:79.072000pt;}
.yf{bottom:86.240000pt;}
.y9{bottom:89.920000pt;}
.y35{bottom:98.112000pt;}
.y8{bottom:105.120000pt;}
.y34{bottom:113.312000pt;}
.y33{bottom:132.352000pt;}
.y0{bottom:149.333333pt;}
.y32{bottom:152.186667pt;}
.y31{bottom:191.866667pt;}
.y30{bottom:210.906667pt;}
.y2f{bottom:229.786667pt;}
.y2e{bottom:248.826667pt;}
.y2d{bottom:266.746667pt;}
.y2c{bottom:285.826667pt;}
.y2b{bottom:301.186667pt;}
.y2a{bottom:320.066667pt;}
.y29{bottom:335.426667pt;}
.y28{bottom:354.306667pt;}
.y27{bottom:372.386667pt;}
.y26{bottom:387.746667pt;}
.y25{bottom:406.626667pt;}
.y24{bottom:421.986667pt;}
.y23{bottom:441.026667pt;}
.y22{bottom:458.946667pt;}
.y21{bottom:474.306667pt;}
.y20{bottom:493.186667pt;}
.y1f{bottom:508.573333pt;}
.y1e{bottom:527.613333pt;}
.y1d{bottom:546.493333pt;}
.y1c{bottom:586.173333pt;}
.y1b{bottom:604.253333pt;}
.y1a{bottom:622.173333pt;}
.y19{bottom:640.253333pt;}
.y18{bottom:658.173333pt;}
.y17{bottom:676.253333pt;}
.y16{bottom:694.173333pt;}
.y15{bottom:712.253333pt;}
.y14{bottom:730.213333pt;}
.y13{bottom:749.253333pt;}
.y7{bottom:785.573333pt;}
.y6{bottom:918.213333pt;}
.y3{bottom:954.560000pt;}
.y2{bottom:995.840000pt;}
.h3{height:33.760000pt;}
.h7{height:55.220937pt;}
.h5{height:56.076875pt;}
.h4{height:61.208750pt;}
.h2{height:89.858125pt;}
.h6{height:120.800000pt;}
.h1{height:781.333333pt;}
.h0{height:1056.000000pt;}
.w5{width:322.466667pt;}
.w3{width:335.746667pt;}
.w4{width:349.666667pt;}
.w1{width:724.000000pt;}
.w2{width:815.999988pt;}
.w0{width:816.000000pt;}
.x1{left:0.000012pt;}
.x7{left:23.840000pt;}
.x0{left:46.000000pt;}
.x3{left:48.000000pt;}
.x9{left:71.839988pt;}
.xa{left:95.551988pt;}
.x6{left:182.106667pt;}
.x5{left:244.066667pt;}
.x2{left:353.826655pt;}
.x4{left:383.746667pt;}
.x8{left:397.666667pt;}
}
